[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SheetReader"]
	path = SheetReader
	url = https://github.com/fhenz/sheetreader-r
